<div class="container-fluid">
  <form #loginForm="ngForm">
    <div class="form-group">
      <label>UserName</label>&nbsp;
      <input
        type="email"
        class="form-control"
        name="username"
        required #name="ngModel"
        [class.is-invalid]="name.invalid && name.touched"
        [(ngModel)]="obj.username"
      />
    </div>
    <div class="form-group">
      <label>Password</label>&nbsp;
      <input
        type="password"
        class="form-control"
        name="password"
        [(ngModel)]="obj.password"
        required #password ="ngModel"
        [class.is-invalid]="password.invalid && password.touched"
      />
    </div>
    <button class="btn btn-primary">Sign-in</button>
  </form>
</div>
